.card{
    height: auto;
    width: 92%;
    display: flex;
    margin: 0 auto;
    background-color: #19ACE9;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}